@mixin toGreen() {
  filter: brightness(0) saturate(100%) invert(53%) sepia(91%) saturate(414%) hue-rotate(88deg) brightness(91%)
    contrast(87%);
}

.btn-green {
  background-color: #23b957;
}

.btn-red {
  background-color: #ed1c24;
}

.error-wrapper {
  margin: 5px 0;

  &__list {
    padding-left: 10px;
    list-style: none;

    &__item {
      font-size: 14px;
      color: #ed1c24;
      padding: 4px 7px 4px 0;
    }
  }
}

.success-wrapper {
  @extend .error-wrapper;

  &__list {
    @extend .error-wrapper__list;

    &__item {
      color: #23b957;
      font-size: 14px;
      padding: 4px 7px 4px 0;
    }
  }
}

.result-modal {

  .error-img {
    max-width: 280px;
    width: 100%;
    margin-bottom: 20px;

    img {
      object-fit: contain;
      width: 100%;

    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2f2f30;

    &__img {
      @include toGreen();
      margin-bottom: 20px;

      img {
        width: 75px;
      }
    }

    &__text {
      margin-bottom: 35px;
    }

    
  }
}