@mixin toGreen() {
  filter: brightness(0) saturate(100%) invert(53%) sepia(91%) saturate(414%) hue-rotate(88deg) brightness(91%)
    contrast(87%);
}

.nice-select {
  .list {
    width: 100%;
  }
}

.visually-hidden {
  transform: scaleY(0) translateX(-10px);
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.g-container {
  width: 100%;
  max-width: calc(100% - 82px * 2);
  margin: 0 auto;

  @media screen and (max-width: 992px) {
    max-width: calc(100% - 50px * 2);
  }

  @media screen and (max-width: 768px) {
    max-width: calc(100% - 24px * 2);
  }
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px !important;
  padding: 0 !important;
}

.g-modal {
  .btn-close {
    position: absolute;
    top: 26px;
    right: 26px;

    i {
      color: #11142d;
    }
  }
}

.btn-green {
  background-color: #23b957;
}

.btn-red {
  background-color: #ed1c24;
}

.chat-modals .modal.show:nth-of-type(even) {
  z-index: 1055 !important;
}

.error-wrapper {
  margin: 5px 0;

  &__list {
    padding-left: 10px;
    list-style: none;

    &__item {
      font-size: 14px;
      color: #ed1c24;
      padding: 4px 7px 4px 0;
    }
  }
}

.success-wrapper {
  @extend .error-wrapper;

  &__list {
    @extend .error-wrapper__list;

    &__item {
      color: #23b957;
      font-size: 14px;
      padding: 4px 7px 4px 0;
    }
  }
}

.result-modal {
  .error-img {
    max-width: 280px;
    width: 100%;
    margin-bottom: 20px;

    img {
      object-fit: contain;
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2f2f30;

    &__img {
      margin-bottom: 20px;

      img {
        width: 75px;
      }
    }

    &__text {
      margin-bottom: 35px;
    }
  }
}

/* Profile Section */

.btn-edit {
  color: #5e5ce6;
}

.edit-info {
  position: relative;

  .editable-area {
    width: 100%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: max-content;
    background: #f6f6f9;
    border-radius: 16px;
    padding: 16px 81px 23px 24px;
    border: none;
    outline: none;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;

    @media screen and (max-width: 468px) {
      padding: 16px 20px;
    }

    color: #11142d;

    &::-webkit-scrollbar {
      width: 0 !important;
      background: transparent;
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    margin-top: 24px;

    * {
      box-shadow: none;
    }

    .cancel-action {
      margin-left: 24px;
      border: 1px solid #11142d;
    }
  }
}

/* Success alert */

.success-alert {
  position: fixed;
  z-index: 1023;
  width: max-content;
  max-width: 450px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 5px 40px rgba(115, 245, 79, 0.192);
  border-radius: 16px;
  top: 120px;
  right: 20px;
  border: 1px solid #23b95750;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: rotateX(10deg) scaleY(0) translateY(300px);

  &.show {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg) scaleY(1) translateY(0);
  }

  &__wrapper {
    position: relative;
    padding: 26px 30px;
    color: #11142d;
    display: flex;
    flex-direction: column;
  }

  &__text {
    display: flex;
    padding: 5px 10px 5px 0;

    a {
      font-weight: 500;
      transition: all 0.2s linear;

      &:hover {
        text-decoration: underline !important;
      }
    }

    img {
      max-width: 25px;
      margin-right: 10px;
    }
  }

  .close-alert,
  &__text a {
    color: #5e5ce6;
  }

  .close-alert {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

/* Work types */

.work-types-wrapper {
  margin-bottom: 32px;

  .work-types-heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .work-types-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 18px 8px 0;
  }

  .work-types-widget {
    background-color: rgba(17, 20, 45, 0.05);
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;

    @media screen and (max-width: 468px) {
      display: none;
    }
  }

  .work-types-content {
    margin-left: 40px;

    @media screen and (max-width: 468px) {
      margin-left: 20px;
    }
  }

  .btn-edit {
    margin-left: -4px;
    font-size: 14px;
  }

  .work-types-list {
    list-style: none;
    padding-left: 0;

    &-item {
      font-size: 14px;
      font-weight: 500;
      color: #11142d;
      padding: 5px 0;
      margin-bottom: 6px;
      transition: all 0.3s ease-in-out;

      &.hide {
        transform: scaleY(0) translateX(-10px);
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

      // &.show {

      // }

      span {
        color: #7c7d89;
        margin-left: 16px;
      }
    }
  }
}

/* How we are working ? */

.how-works-cards {
  margin-top: 32px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(412px, 1fr));

  @media screen and (min-width: 1260px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 660px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .how-works-card {
    padding: 32px 8px 8px;
    background: #ffffff;
    box-shadow: 2px 5px 40px rgba(17, 20, 45, 0.08);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-heading {
      display: flex;
      padding: 0 24px;
    }

    .order-of-card {
      color: #7c7d89;
      font-size: 18px;
      font-weight: 600;
      margin-right: 16px;
    }

    &-title {
      font-weight: 600;
      font-size: 18px;
      color: #11142d;
      margin-bottom: 8px;

      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
    }

    &-subtitle {
      font-weight: 500;
      font-size: 15px;
      color: #7c7d89;
      margin-bottom: 0;

      @media screen and (max-width: 576px) {
        font-size: 14px;
      }
    }

    &-img {
      margin-top: 16px;
      border-radius: 16px;

      img {
        border-radius: 16px;
        width: 100%;
        max-height: 235px;
        object-fit: cover;
      }
    }
  }
}

/* Order cards */

.order-title {
  margin-bottom: 32px;
}

.order-card {
  padding: 24px 40px 24px 20px;
  display: flex;
  background: #ffffff;
  box-shadow: 2px 5px 40px rgba(17, 20, 45, 0.08);
  border-radius: 16px;
  margin-bottom: 24px;
  position: relative;
  border: 1px solid #fff;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: none;
    border: 1px solid #5e5ce65d;
  }

  &-icon {
    min-width: 66px;
    max-width: 66px !important;
    height: 66px;
    border-radius: 12px;
    margin-right: 16px;

    @media screen and (max-width: 576px) {
      position: absolute;
      top: 24px;
      left: 24px;
      max-width: 48px !important;
      min-width: 48px;
      height: 48px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }

  &-title {
    color: #11142d;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 8px;

    @media screen and (max-width: 576px) {
      margin-left: 70px;
    }
  }

  &-description {
    color: #7c7d89;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 0;

    @media screen and (max-width: 576px) {
      margin-top: 45px;
    }

    @media screen and (max-width: 468px) {
      margin-top: 35px;
    }
  }
}

/* FAQ Accordion */

.faq-accordion {
  .accordion-button {
    font-weight: 600;
    font-size: 18px;
    color: #11142d;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.collapsed {
      .faq-accordion-icon {
        &:after {
          content: "+";
        }
      }
    }
  }

  .faq-accordion-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    background-color: #11142d;
    color: #fff;
    position: relative;

    &:after {
      content: "-";
      position: absolute;
      top: 45%;
      left: 50%;
      font-size: 22px;
      transform: translateX(-50%) translateY(-50%);
      transition: all 0.2s ease-in-out;
    }
  }

  .accordion-item {
    padding: 24px !important;
    margin-bottom: 24px !important;
  }

  .accordion-body {
    padding: 16px 46px 0 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
    color: #7c7d89;

    * {
      margin-bottom: 0;
    }
  }
}

/* Chat UI */

.chat-modal {
  .modal-content {
    position: relative;
    padding: 0;
    border: none;
    height: calc(100vh - 120px);
    min-height: 550px;
    width: 95%;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      height: calc(100vh - 100px);
      width: 98%;

      .modal-body {
        padding: 0;
      }
    }
  }

  .modal-body {
    height: 100%;
  }

  .modal-dialog {
    max-width: 850px;
  }

  .close-chat {
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #11142d;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -52px;
    transition: all 0.2s ease;

    @media screen and (max-width: 960px) {
      right: -10px;
      top: -30px;
    }

    @media screen and (max-width: 768px) {
      right: 10px;
      top: -40px;
    }

    &:hover {
      background-color: #ed1c24;
      color: #fff;
    }
  }

  .app-grid {
    display: flex;
    height: 100%;
    overflow-y: hidden;

    .user-img {
      img {
        border-radius: 4px;
        width: 28px;
        height: 28px;
      }
    }

    &-left {
      position: relative;
      width: 320px;
      padding-right: 16px;
      margin-right: 20px;
      border-right: 1px solid transparentize($color: #a4a4ad, $amount: 0.6);
      height: 100%;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 768px) {
        border: none;
        margin-right: 0;
        padding-right: 0;
        padding: 16px 24px 40px;
      }

      .chat-notifications {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .chat-notification {
        display: grid;
        grid-template-columns: 28px 1fr;
        grid-column-gap: 8px;
        border-radius: 8px;
        padding: 8px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: transparentize($color: #5e5ce6, $amount: 0.96);
        }

        &-user {
          width: 28px;
          flex-shrink: 0;
        }

        &-info {
          display: flex;
          flex-direction: column;
          width: 100%;
          overflow-x: hidden;
        }

        &-username {
          font-weight: 500;
          font-size: 15px;
          line-height: 24px;
          color: #11142d;
          margin-bottom: 4px;
        }

        &-userid,
        &-time {
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0.02em;
          color: #a4a4ad;
        }

        &-brief {
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0.02em;
          color: #7c7d89;
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-right: 12px;
          margin-bottom: 8px;
        }

        &.active {
          background: rgba(94, 92, 230, 0.09);
        }

        &.unread {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            right: 8px;
            top: 8px;
            width: 9px;
            height: 9px;
            background-color: #5e5ce6;
            border-radius: 50%;
          }
        }

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    input::placeholder,
    textarea::placeholder {
      color: #b9b9c5;
    }

    input,
    textarea {
      color: #11142d;
    }

    input,
    textarea,
    input::placeholder,
    textarea::placeholder {
      font-weight: 500;
      font-size: 15px;
      line-height: 160%;
    }

    .chat-search {
      display: flex;
      align-items: center;
      padding: 18px 18px 18px 24px;
      background: #f6f6f9;
      border-radius: 16px;
      width: 100%;
      margin-bottom: 16px;

      input {
        height: auto !important;
        border: none;
        outline: none;
        background: transparent !important;
        flex-grow: 1;
      }

      button {
        width: 40px;
        flex-shrink: 0;
      }
    }

    .chat-room {
      letter-spacing: 0.02em;
      display: flex;
      flex-direction: column;
      height: 100%;
      transition: all 0.3s ease-in-out;

      &.transition {
        animation: fade-in 0.3s ease-in-out forwards;
      }
    }

    &-chat {
      flex-grow: 1;
      height: 100%;

      .chat__header {
        display: flex;
        padding-bottom: 16px;
        border-bottom: 1px solid transparentize($color: #a4a4ad, $amount: 0.6);
        margin-bottom: 16px;

        @media screen and (max-width: 768px) {
          padding: 8px;
        }

        &--back {
          color: #11142d;
          margin-right: 15px;
          align-self: center;
          padding: 8px;

          @media screen and (min-width: 768px) {
            display: none;
          }

          @media screen and (max-width: 576px) {
            font-size: 12px;
          }
        }

        &--userimg {
          margin-right: 21px;

          @media screen and (max-width: 576px) {
            margin-right: 6px;

            img {
              width: 16px;
              height: 16px;
            }
          }
        }

        &--info {
          display: flex;
          flex-direction: column;
          flex: 1;
        }

        &--username {
          font-weight: 500;
          font-size: 14px;

          @media screen and (max-width: 576px) {
            font-weight: 500;
            font-size: 13px;
          }
        }

        &--lastseen {
          font-weight: 500;
          font-size: 13px;
          color: #a4a4ad;

          @media screen and (max-width: 576px) {
            font-size: 12px;
          }
        }

        &--dropdown {
          align-self: center;
          button {
            color: #7c7d89;
            font-size: 12px;
            padding: 8px 12px;
          }

          .dropdown-menu {
            border: 1px solid #a4a4ad;
            border-radius: 12px;
            min-width: max-content;

            ul {
              list-style: none;
              padding-left: 0;
              margin: 0;

              button {
                display: inline-block;
                font-size: 14px;
                line-height: 20px;
                color: #11142d;
                padding: 16px 18px;
                width: 100%;
                text-align: left;
                transition: color 0.2s ease-in;

                &:hover {
                  color: #5e5ce6;
                }
              }

              li {
                &:not(:last-child) {
                  border-bottom: 1px solid #a4a4ad;
                }
              }
            }
          }
        }
      }

      .chat__messages {
        overflow-y: auto;
        padding-right: 36px;
        flex: 1;

        @media screen and (max-width: 768px) {
          padding: 0 26px 0 24px;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        &__date {
          display: flex;
          justify-content: center;
          margin: 0 0 16px;
          font-weight: 500;
          font-size: 13px;
          line-height: 140%;
          color: #11142d;
        }

        &__alert {
          display: flex;
          justify-content: center;
          text-align: center;
          font-weight: 500;
          font-size: 13px;
          line-height: 160%;
          color: #7c7d89;
          margin-bottom: 16px;
        }
      }

      .chat__message {
        display: flex;
        margin-bottom: 24px;

        &__img {
          margin-right: 16px;
        }

        &__username {
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          margin-right: 16px;
        }

        &__time {
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          color: #a4a4ad;
        }

        &__text {
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          color: #7c7d89;
          margin-top: 6px;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
          grid-gap: 16px;

          img {
            width: 100%;
            margin-right: 16px;
            border-radius: 16px;
          }
        }
      }

      .chat__meessage__send {
        margin-top: 24px;
        max-height: calc(100% - 200px);
      }

      .chat__send {
        &__grid {
          display: flex;
          align-items: center;

          @media screen and (max-width: 768px) {
            background-color: #f6f6f9;
            padding: 12px;
            border-radius: 0 0 16px 16px;
            align-items: flex-start;
          }
        }

        &__img {
          display: flex;
          align-items: center;
          margin-right: 15px;
          cursor: pointer;

          i {
            font-size: 18px;
            color: #7c7d89;
          }
        }

        &__field {
          flex: 1;
          max-height: 120px;
          min-height: 80px;
          height: 80px;
          background: #f6f6f9;
          border-radius: 16px;
          padding: 16px 24px;
          color: #11142d;
          border: none;
          outline: none;
          -ms-overflow-style: none;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }

          @media screen and (max-width: 768px) {
            flex-shrink: 1;
            width: 220px;
            resize: none;
            height: 72px;
            font-weight: 500;
            font-size: 13px;
            padding: 0;
          }

          &::placeholder {
            color: #b9b9c5;
          }
        }

        &__btn {
          padding: 8px 0 8px 12px;

          @media screen and (max-width: 768px) {
            padding-top: 0;
          }
        }
      }
    }
  }
}

.refuse-modal {
  .modal-dialog {
    max-width: 560px;
  }

  &-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #11142d;
    margin-bottom: 16px;
  }

  &-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #7c7d89;
  }

  .modal-content {
    padding: 16px 20px 42px 20px;

    .btn-close {
      position: absolute;
      top: 16px;
      right: 32px;
      font-size: 18px;
      font-weight: 400;

      i {
        color: #11142d;
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

/* Complaint Modal */

.complaint-form {
  &__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 40px;
  }

  &-modal {
    .modal-content {
      padding: 26px 20px 32px;
    }

    * {
      letter-spacing: 0.02em;
    }
  }

  .btn-cancel {
    margin-right: 16px;
    background: #f1f1f1;
    border-radius: 12px;
    padding: 18px 40px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #a4a4ad;
  }
}

.g-form-group {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.g-select {
  width: 100%;

  .nice-select {
    width: 100%;
    background: #f6f6f9;
    border-radius: 16px;
    padding: 16px 24px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.02em;
    height: auto;
  }

  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #7c7d89;
    margin-bottom: 8px;
  }
}

.g-textarea {
  background: #f6f6f9;
  border-radius: 16px;
  width: 100%;
  padding: 18px 24px;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  height: 136px;
  max-height: 180px;
  min-height: 50px;
  border: none;
  outline: none;

  &::placeholder {
    color: #b9b9c5;
  }
}

@keyframes fade-in {
  from {
    transform: scale(0.97);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal__text {
  font-size: 14px;
  font-weight: 400;
  color: #7c7d89;
  padding-right: 20px;
}

/* Notification Dropdown */

.header .nav-item {
  margin: 0 20px;
}

.notification-dropdown {
  letter-spacing: 0.02em;
  position: relative;

  @media screen and (max-width: 576px) {
    transform: scale(0.8);
  }

  .notification-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: #ed1c24;
    color: #fff;
    font-size: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &-menu {
    position: absolute;
    border: none;
    background: #ffffff;
    box-shadow: 2px 5px 40px rgba(17, 20, 45, 0.1);
    border-radius: 16px;
    min-width: 360px;
    max-width: 380px;
    transform: none;
    inset: 30px auto auto -180px;
    transition: all 0.3s ease-in-out;

    &.visually-hidden {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  .notification-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: hidden;

    &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #11142d;
      padding: 24px 16px 16px;
      flex-shrink: 0;
      text-align: left;
      margin-bottom: 0;
    }

    &__subtitle {
      font-weight: 600;
      font-size: 14px;
      color: #5e5ce6;
      padding: 24px 16px 16px;
      flex-shrink: 0;
      text-align: center;
    }
  }

  .notifications {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #11142d transparent;
    padding: 0 8px;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #11142d;
    }
  }

  .notification {
    display: grid;
    grid-template-columns: 50px 1fr;
    text-align: left;
    padding: 12px 16px;
    grid-column-gap: 15px;
    cursor: pointer;
    border-radius: 16px;

    &-text {
      font-weight: 500;
      font-size: 13px;
      color: #11142d;
      margin-top: 8px;
    }

    &.unread {
      background: #f2f0ff;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &-img {
      width: 48px;
      height: 48px;
      position: relative;
      margin-top: 8px;

      &-main {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }

      &-top {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: -4px;
        right: -4px;
      }
    }

    &-info {
      font-weight: 500;
      font-size: 13px;
      color: #7c7d89;
      display: flex;
      flex-direction: column;
    }

    &-message-username {
      color: #5e5ce6;
    }

    &-time {
      margin-top: 8px;
    }
  }
  .mark-as-read {
    padding: 21px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #7c7d89;
    flex-shrink: 0;
    border-radius: 0 0 16px 16px;
  }
}
